*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    height: 100vh;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
    
    
}

header{
   
    height: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: darkgrey;
}

main{
    flex-grow: 1;
    padding: 8px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    gap: 8px;

}

.item-container{
    background-color: white;
    width: 230px;
    height: 50px;
    display: flex;
    align-items:flex-start;
    gap: 8px;
    padding: 8px;
    text-decoration: none;
    color: black;
  
      
}

.item-container:hover{
   box-shadow: 0px 0px 6px rgb(0, 0, 0);
   

}
    
footer{
    background-color: rgb(250, 250, 250);
    height: 8vh;
    display: flex;
    align-items:center;
    justify-content: center;    
}